*{
	margin:0px auto;
	padding:0px;
	font-size:12px;
	list-style:none;
	font-family: 宋体;
	color:#522a06;}
img{
   border:0px;}
body{
	padding: 0px;
	margin: 0px;
	background:url("images/bodybg.jpg")}
a{
	color:#522a06;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;}
li{
	list-style:none;
	margin:0px;
	padding:0px;
}

/*页头部分*/
.header{
	
	width:100%;
	height:164px;
	}
.head_content{
	width:1000px;
	margin:auto;}
.logo{
	float:left;
	margin-top:38px;
	margin-left:25px;}

.nav{
	width:100%;
	height:40px;
	background-color: #808080;
}
.nav_content{
	width:1000px;
	background-color: #808080;
}
.n_content{
	list-style:none;
	/*float:left;*/
	width:800px;
	font-weight:bolder;
	color:#FFF;}
.n_content li{
	float:left;
}
.n_content a{
	color:#000;
	width:65px;
	line-height:40px;
	font-weight:bold;
	text-align:center;
}
.n_content a:hover{
	color:#f9f603;
	text-decoration:none;
}

/*页面主体部分*/
.main {
	width:1000px;
	margin:0px auto;
	border: 1px solid #ccc;
}
.main .tu {
	float: left;
	padding: 10px;
}
.main .lefter {
	width:600px;
	float: left;
	padding: 10px;
}
.main .lefter p {
	font-family: "宋体";
	font-size: 12px;
	line-height: 24px;
	text-indent: 24px;
	text-indent: 2em;
}

h1{
	font-size: 18px;
	line-height: 24px;
	font-family: "黑体";
}
b{
	font-size: 12px;
	line-height: 24px;
	color: #900;
}
em{
	font-weight: bold;
	color: #006;
	font-style: normal;
}

.main .righter .top{
	width:280px;
	height:250px;
	background-image: url(../images/board_bg.png);
	background-repeat: no-repeat;
	margin-top: 20px;
}
.main .righter{
	float:right;
	margin-left:10px;
	width:280px;

}
.main .top .title{
	width:220px;
	height:50px;
	background-image: url(../images/news.png);
	background-repeat: no-repeat;
	backgroung-position:center;
	margin-bottom:-10px;

	
}
.main .font{
	line-height: 30px;
	margin-left:10px;
	
}

.main .bottom .title{
	width:180px;
	height:50px;
	background-image: url(../images/show.png);
	background-repeat: no-repeat;
	backgroung-position:center;
	margin-top:-30px;
	margin-left:80px;
	margin-bottom: -10px;
}
.main .con{
	width:280px;
	height:400px;
	background-image: url(../images/show_bg.png);
	background-repeat: no-repeat;
	backgroung-position:center;
}
.main .bottom img{

	margin-left:30px;
	width: 240px;
	height:200px;
	margin: 10px 15px;
}
.main .con span{
	font-weight:bolder;
	color:#b70000;}
.maint .con .font{
	line-height: 25px;
	}



/*页脚部分*/
.footer {
	position: relative;
	top:1000px;
	background:url(../images/foot.gif);
	width:100%;
	background-position:center;	
	padding:30px 0 0 0;
	/*text-align:center;*/
	height:105px;
}	
.footer a{display:block;
	width:130px;
	height:35px;
	text-align: center;
	line-height: 35px;
	text-decoration: none; 
	font-family: '黑体'
}
.footer li{
	float:left;
	list-style: none;
}	
.footer .font{
	width:800px;
	/*margin:0px auto;
	text-align: center;
*/
}
.footer img{
	width: 900px;
	margin:0px 300px;
}
.footer .ban{
    width: 350px;
	margin-top: 10px;
	text-align: center;
}
