@charset "utf-8";
/* CSS Document */
/*通用设置*/
*{
	margin:0px auto;
	padding:0px;
	
	list-style:none;

	color:#522a06;}
img{
   border:0px;}
body{
	padding: 0px;
	margin: 0px;
	font-size:12px;
	background:url(../images/bodybg.gif)}
a{
	color:#522a06;
	text-decoration:none;}
a:hover{
	text-decoration:underline;}
li{
	list-style:none;
	margin:0px;
	padding:0px;}

#header{
	height: 205px;
	background-image: url(../images/bg.gif);
	background-position: center top;
}
#banner{
	width:1000px;
	height:164px;
}
.logo{
	margin-top:38px;
	margin-left:25px;
}

#nav{
	width:100%;
	height:40px;
	background-image:url(../images/nav.jpg);
}
.nav_body{
	width: 1000px;
	text-align: center;
}
.nav_content{
	float:left;
	width:800px;
	font-weight:bolder;
	color:#FFF;
	text-align: center;
}
.nav_content a{
	color:#FFF;
	width:65px;
	line-height:40px;
	font-weight:bold;
	text-align:center;
}
.nav_content a:hover{
	color:#f9f603;
	text-decoration:none;
}
.nav_search{
	margin:10px 0px 10px 1px;
	float:right;
	padding:0px;
}
.sousuokuang{
	width: 140px;
	height: 19px;
	background-color: #f8f5ee;
}
.anniu{
	width: 44px;
  	height:21px;
	background-color:#000;
	color:#fff;
	border:1px solid #f8f5ee;
}
/*	内容部分*/
.content {
	width:1000px;
}
.content .lefter{
	width:250px;
	float:left;
}
.content h4{
	margin-left: 20px;
}
.content .first{
	width:200px;
	height:250px;
	background-image: url(../images/bg.png);
	border:1px solid #c9baa5;
	margin: 10px;
}

.content .first .title{
	width:150px;
	height:50px;
	background-image: url(../images/pxdt.png);
	background-repeat: no-repeat;
	backgroung-position:center;
}
.content .font{
	line-height: 40px;
	text-align: center;
	color:#000;
	
}
.content .font a{
display:block;
	width:90px;
	height:30px;
	color:#4d4b4b;
	
	}
.content .font a:hover{
	background-image: url(../images/menubg.gif);
	background-repeat: no-repeat;
	/*width:150px;
	height:100px;*/
	color:#951802;
   text-decoration:none;

}
.content .second{
	width:200px;
	height:200px;
	background-image: url(../images/bg.png);
	border:1px solid #c9baa5;
	margin: 10px;
}


.content .second .title{
	width:180px;
	height:50px;
	background-image: url(../images/news.png);
	background-repeat: no-repeat;
	backgroung-position:center;
	margin:10px auto -20px auto;

}

.content .third{
	width:200px;
	height:80px;
	margin:10px;
	background-image: url(../images/tel.gif);
	background-repeat: no-repeat;
}
.content .righter{
	width:750px;

float:left;} 

 .content .top h1{
	height:45px;
	background:url(../images/listtitle.png) no-repeat;
	line-height:45px;
	vertical-align:middle;
	padding-left:55px;
	font-size:18px;
	font-family:"微软雅黑";
	font-weight:normal;
	color:#9b3020;
	margin-bottom:20px;
	margin-top: 20px;
 	margin-left: -20px;

	}

.content .center ul{
	padding-left:20px;
	}
.content .center ul li{
	height:30px;
	font-size:14px;
	list-style:url(../images/pot.gif) ;
	*padding-top:8px;
	*height:22px;
	}
.content .center ul li span{
	float:right;
	color:#8b6544;
	margin-right:5px;
	*margin-top:-18px
	}

*//*-------------------------------分页-----------------------------------*/
DIV.megas512 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px; TEXT-ALIGN: center; margin-top:10px
}
DIV.megas512 A {
	BORDER-RIGHT: #926a46 1px solid; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #926a46 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #926a46 1px solid; COLOR: #99210b; MARGIN-RIGHT: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #926a46 1px solid; TEXT-DECORATION: none
}
DIV.megas512 A:hover {
	 BACKGROUND-IMAGE: none;  COLOR: #fff; BACKGROUND-COLOR:#a11b01
}
DIV.megas512 A:active {
	 BACKGROUND-IMAGE: none;  BACKGROUND-COLOR: #cd1e00
}
DIV.megas512 SPAN.current {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #99210b; MARGIN-RIGHT: 3px; PADDING-TOP: 2px
}
DIV.megas512 SPAN.disabled {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; COLOR: #777; MARGIN-RIGHT: 3px; PADDING-TOP: 2px
}
/*/**底部**/
.footer {
	background:url(../images/foot.gif);
	width:100%;
	background-position:center;	
	padding:30px 0 0 0;
	text-align:center;
	height:105px;
	clear:both;}
.footer h1{	
	font-size:12px;}
.footer p{ 
	margin-top:10px;}*/
	.footer {
	position: relative;
	top:-400px;
	background:url(../images/foot.gif);
	width:100%;
	background-position:center;	
	padding:30px 0 0 0;
	/*text-align:center;*/
	height:105px;
	}
	
	
	.footer a{display:block;
		width:130px;
		height:35px;
		text-align: center;
		line-height: 35px;
		text-decoration: none; 
		font-family: '黑体'

	}
	.footer li{float:left;list-style: none;}
	
	.footer .font{
		width:800px;
		/*margin:0px auto;
		text-align: center;
*/
	}
	.footer img{
		width: 900px;
		margin:0px 300px;
	}
	.footer .ban{
		width: 350px;
		margin-top: 10px;
		text-align: center;
	}