div{
    border: 1px solid #ccc;
    margin: 10px;
}
img{
	width: 250px;height: 250px;
}
.imgage{
	float: left;
}
.desc{
	border: 0px;
	font-family: "宋体";
	text-align: center;
}
div.imgage img{
	display: inline;
	margin: 3px;
	border: 1px solid #bebebe;
	width: 200px;
	height: 160px;
	opacity: 0.5;
}
div.imgage a:hover img{
	border: 1px solid #333333;
    opacity: 1;
}